@page "/"

<h3>Combat</h3>
<div class="row">
    <div class="col">
        <ul class="list-group">
            @if (combatants.Any())
            {
                @foreach (var combatant in combatants)
                {
                    <li class="@combatant.CssClass()" id="@combatant.Id">
                        <div class="row">
                            <div class="col-md-8">
                                <p>@((MarkupString)combatant.DisplayName())</p>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="5" id="initiative-@combatant.Id" @bind="combatant.InitiativeModifier" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" @onclick="() => ModifyInitiative(combatant.Id, false)">
                                            <span class="oi oi-plus"></span>
                                        </button>
                                        <button class="btn btn-outline-secondary" type="button" @onclick="() => ModifyInitiative(combatant.Id, true)">
                                            <span class="oi oi-minus"></span>
                                        </button>
                                        <button class="btn btn-outline-danger" type="button" @onclick="() => RemoveCombatant(combatant.Id)">
                                            <span class="oi oi-trash"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                }

            }
            else
            {
                <li class="list-group-item list-group-item-secondary">No combatants added yet!</li>
            }
        </ul>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <button class="btn btn-primary" @onclick="AdvancePhase">Next Phase</button>
        <button class="btn btn-primary" @onclick="RerollInitiative">Reroll</button>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add Combatant</h5>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="newCombatantName">Name</label>
                        <input type="text" class="form-control" placeholder="Name" id="newCombatantName" @bind="newCombatantName" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="newCombatantName">Initiative Score</label>
                        <input type="number" class="form-control" placeholder="-1" id="newCombatantName" @bind="newCombatantInitiative" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="newCombatantIsPlayer" @bind="newCombatantIsPlayer" />
                        <label class="form-check-label" for="newCombatantIsPlayer">Player Character</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="newCombatantIsHostile" @bind="newCombatantIsHostile" />
                        <label class="form-check-label" for="newCombatantIsHostile">Hostile</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="newCombatantEdge">Edge</label>
                        <input type="number" class="form-control" placeholder="1" id="newCombatantEdge" @bind="newCombatantEdge" />
                    </div>
                    <div class="form-group col">
                        <label for="newCombatantReaction">Reaction</label>
                        <input type="number" class="form-control" placeholder="1" id="newCombatantReaction" @bind="newCombatantReaction" />
                    </div>
                    <div class="form-group col">
                        <label for="newCombatantIntuition">Intuition</label>
                        <input type="number" class="form-control" placeholder="1" id="newCombatantIntuition" @bind="newCombatantIntuition" />
                    </div>
                    <div class="form-group col">
                        <label for="newCombatantDice">Initiative Dice</label>
                        <input type="number" class="form-control" placeholder="1" id="newCombatantDice" @bind="newCombatantDice" />
                    </div>
                </div>
                <button class="btn btn-primary" @onclick="AddCombatant">Add</button>
            </div>
        </div>
    </div>
</div>


@code {
    private List<Combatant> combatants = new();
    private int currentTurn = 0;
    private int currentPhase = 0;
    private string newCombatantName;
    private int newCombatantInitiative = -1;
    private bool newCombatantIsPlayer;
    private bool newCombatantIsHostile;
    private int newCombatantEdge = 1;
    private int newCombatantReaction = 1;
    private int newCombatantIntuition = 1;
    private int newCombatantDice = 1;
    private int initiativeModify;


    /// <summary>
    /// Add a combatant to the initiative tracker, keeping the list in the correct order.
    /// </summary>
    private void AddCombatant()
    {
        var combatant = new Combatant
        {
            Id = Guid.NewGuid(),
            Name = newCombatantName,
            InitiativeScore = newCombatantInitiative,
            IsPlayerCharacter = newCombatantIsPlayer,
            IsHostile = newCombatantIsHostile,
            Edge = newCombatantEdge,
            Reaction = newCombatantReaction,
            Intuition = newCombatantIntuition,
            InitiativeDice = newCombatantDice
        };

        if (!combatant.IsPlayerCharacter && combatant.InitiativeScore < 0)
        {
            combatant.InitiativeScore = combatant.RollInitiative();
        }

        combatants.Add(combatant);
        SortCombatants();
    }

    private void SortCombatants()
    {
        combatants = combatants
            .OrderByDescending(c => c.InitiativeScore)
            .ThenByDescending(c => c.Edge)
            .ThenByDescending(c => c.Reaction)
            .ThenByDescending(c => c.Intuition)
            .ToList();

    }

    private void AdvancePhase()
    {
        foreach (var combatant in combatants)
        {
            combatant.SubtractInitiative(10);
        }

    }

    private void RerollInitiative()
    {
        foreach (var combatant in combatants)
        {
            if (combatant.IsPlayerCharacter)
            {
                combatant.InitiativeScore = 0;
            }
            else
            {
                combatant.InitiativeScore = combatant.RollInitiative();
            }
        }
        SortCombatants();
    }

    private void ModifyInitiative(Guid id, bool subtract)
    {
        var combatant = combatants.Where(c => c.Id == id).First();
        if (subtract)
        {
            combatant.SubtractInitiative(combatant.InitiativeModifier);
        }
        else
        {
            combatant.AddInitiative(combatant.InitiativeModifier);
        }
        SortCombatants();
    }

    private void RemoveCombatant(Guid id)
    {
        var combatant = combatants.Where(c => c.Id == id).First();
        combatants.Remove(combatant);
    }

}
